/******** 基础配置项 end *******/
/******** 基础配置项 end *******/
/******** 高级配置项 *******/
/******** 高级配置项 end *******/
.xiaolaji-picker {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 11px 4px 4px;
  line-height: 1.5715;
  background-color: var(--color-fill-2);
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
}
.xiaolaji-picker-input {
  display: inline-flex;
  flex: 1;
}
.xiaolaji-picker input {
  width: 100%;
  padding: 0;
  padding-left: 8px;
  color: var(--color-text-2);
  line-height: 1.5715;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
}
.xiaolaji-picker input::placeholder {
  color: var(--color-text-3);
}
.xiaolaji-picker input[disabled] {
  -webkit-text-fill-color: var(--color-text-4);
}
.xiaolaji-picker-has-prefix {
  padding-left: 12px;
}
.xiaolaji-picker-prefix {
  padding-right: 4px;
  color: var(--color-text-2);
  font-size: 14px;
}
.xiaolaji-picker-suffix {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
}
.xiaolaji-picker-suffix .xiaolaji-feedback-icon {
  display: inline-flex;
}
.xiaolaji-picker-suffix .xiaolaji-feedback-icon-status-validating {
  color: rgb(var(--primary-6));
}
.xiaolaji-picker-suffix .xiaolaji-feedback-icon-status-success {
  color: rgb(var(--success-6));
}
.xiaolaji-picker-suffix .xiaolaji-feedback-icon-status-warning {
  color: rgb(var(--warning-6));
}
.xiaolaji-picker-suffix .xiaolaji-feedback-icon-status-error {
  color: rgb(var(--danger-6));
}
.xiaolaji-picker-suffix .xiaolaji-feedback-icon {
  margin-left: 4px;
}
.xiaolaji-picker-suffix-icon {
  color: var(--color-text-2);
}
.xiaolaji-picker .xiaolaji-picker-clear-icon {
  display: none;
  color: var(--color-text-2);
  font-size: 12px;
}
.xiaolaji-picker:hover {
  background-color: var(--color-fill-3);
  border-color: transparent;
}
.xiaolaji-picker:not(.xiaolaji-picker-disabled):hover .xiaolaji-picker-clear-icon {
  display: inline-block;
}
.xiaolaji-picker:not(.xiaolaji-picker-disabled):hover .xiaolaji-picker-suffix .xiaolaji-picker-clear-icon + span {
  display: none;
}
.xiaolaji-picker input[disabled] {
  color: var(--color-text-4);
  cursor: not-allowed;
}
.xiaolaji-picker input[disabled]::placeholder {
  color: var(--color-text-4);
}
.xiaolaji-picker-error {
  background-color: var(--color-danger-light-1);
  border-color: transparent;
}
.xiaolaji-picker-error:hover {
  background-color: var(--color-danger-light-2);
  border-color: transparent;
}
.xiaolaji-picker-focused {
  box-shadow: 0 0 0 0 var(--color-primary-light-2);
}
.xiaolaji-picker-focused,
.xiaolaji-picker-focused:hover {
  background-color: var(--color-bg-2);
  border-color: rgb(var(--primary-6));
}
.xiaolaji-picker-focused.xiaolaji-picker-error {
  border-color: rgb(var(--danger-6));
  box-shadow: 0 0 0 0 var(--color-danger-light-2);
}
.xiaolaji-picker-focused .xiaolaji-picker-input-active input,
.xiaolaji-picker-focused:hover .xiaolaji-picker-input-active input {
  background: var(--color-fill-2);
}
.xiaolaji-picker-disabled,
.xiaolaji-picker-disabled:hover {
  color: var(--color-text-4);
  background-color: var(--color-fill-2);
  border-color: transparent;
  cursor: not-allowed;
}
.xiaolaji-picker-disabled input[disabled],
.xiaolaji-picker-disabled:hover input[disabled] {
  color: var(--color-text-4);
  cursor: not-allowed;
}
.xiaolaji-picker-disabled input[disabled]::placeholder,
.xiaolaji-picker-disabled:hover input[disabled]::placeholder {
  color: var(--color-text-4);
}
.xiaolaji-picker-separator {
  min-width: 10px;
  padding: 0 8px;
  color: var(--color-text-3);
}
.xiaolaji-picker-disabled .xiaolaji-picker-separator {
  color: var(--color-text-4);
}
.xiaolaji-picker-disabled .xiaolaji-picker-suffix-icon {
  color: var(--color-text-4);
}
.xiaolaji-picker-size-mini {
  height: 24px;
}
.xiaolaji-picker-size-mini input {
  font-size: 12px;
}
.xiaolaji-picker-size-small {
  height: 28px;
}
.xiaolaji-picker-size-small input {
  font-size: 14px;
}
.xiaolaji-picker-size-medium {
  height: 32px;
}
.xiaolaji-picker-size-medium input {
  font-size: 14px;
}
.xiaolaji-picker-size-large {
  height: 36px;
}
.xiaolaji-picker-size-large input {
  font-size: 14px;
}
/******** borderSize *******/
/******** borderStyle *******/
/******** radius *******/
/******** shadow distance *******/
/******** size *******/
/******** spacing *******/
/******** shadow *******/
/******** opacity *******/
/******** fontSize *******/
/******** fontWeight ********/
/******** Primary *******/
/******** success *******/
/******** warning *******/
/******** danger *******/
/******** link *******/
/******** radius *******/
/********* icon hover *********/
.xiaolaji-picker-container,
.xiaolaji-picker-range-container {
  box-sizing: border-box;
  min-height: 60px;
  overflow: hidden;
  background-color: var(--color-bg-popup);
  border: 1px solid var(--color-neutral-3);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.xiaolaji-picker-container-shortcuts-placement-left,
.xiaolaji-picker-range-container-shortcuts-placement-left,
.xiaolaji-picker-container-shortcuts-placement-right,
.xiaolaji-picker-range-container-shortcuts-placement-right {
  display: flex;
  align-items: flex-start;
}
.xiaolaji-picker-container-shortcuts-placement-left > .xiaolaji-picker-shortcuts,
.xiaolaji-picker-range-container-shortcuts-placement-left > .xiaolaji-picker-shortcuts,
.xiaolaji-picker-container-shortcuts-placement-right > .xiaolaji-picker-shortcuts,
.xiaolaji-picker-range-container-shortcuts-placement-right > .xiaolaji-picker-shortcuts {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px 8px;
  overflow-x: hidden;
  overflow-y: auto;
}
.xiaolaji-picker-container-shortcuts-placement-left > .xiaolaji-picker-shortcuts > *,
.xiaolaji-picker-range-container-shortcuts-placement-left > .xiaolaji-picker-shortcuts > *,
.xiaolaji-picker-container-shortcuts-placement-right > .xiaolaji-picker-shortcuts > *,
.xiaolaji-picker-range-container-shortcuts-placement-right > .xiaolaji-picker-shortcuts > * {
  margin: 5px 0;
}
.xiaolaji-picker-container-shortcuts-placement-left .xiaolaji-picker-panel-wrapper,
.xiaolaji-picker-range-container-shortcuts-placement-left .xiaolaji-picker-panel-wrapper,
.xiaolaji-picker-container-shortcuts-placement-left .xiaolaji-picker-range-panel-wrapper,
.xiaolaji-picker-range-container-shortcuts-placement-left .xiaolaji-picker-range-panel-wrapper {
  border-left: 1px solid var(--color-neutral-3);
}
.xiaolaji-picker-container-shortcuts-placement-right .xiaolaji-picker-panel-wrapper,
.xiaolaji-picker-range-container-shortcuts-placement-right .xiaolaji-picker-panel-wrapper,
.xiaolaji-picker-container-shortcuts-placement-right .xiaolaji-picker-range-panel-wrapper,
.xiaolaji-picker-range-container-shortcuts-placement-right .xiaolaji-picker-range-panel-wrapper {
  border-right: 1px solid var(--color-neutral-3);
}
.xiaolaji-picker-container-panel-only,
.xiaolaji-picker-range-container-panel-only {
  box-shadow: none;
}
.xiaolaji-picker-container-panel-only .xiaolaji-panel-date-inner,
.xiaolaji-picker-range-container-panel-only .xiaolaji-panel-date-inner {
  width: 100%;
}
.xiaolaji-picker-range-container-panel-only .xiaolaji-panel-date {
  width: 100%;
}
.xiaolaji-picker-header {
  display: flex;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-neutral-3);
}
.xiaolaji-picker-header-title {
  flex: 1;
  color: var(--color-text-1);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.xiaolaji-picker-header-icon {
  width: 24px;
  height: 24px;
  margin-right: 2px;
  margin-left: 2px;
  color: var(--color-text-2);
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  background-color: var(--color-bg-popup);
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  user-select: none;
}
.xiaolaji-picker-header-icon:not(.xiaolaji-picker-header-icon-hidden) {
  cursor: pointer;
}
.xiaolaji-picker-header-icon:not(.xiaolaji-picker-header-icon-hidden):hover {
  background-color: var(--color-fill-3);
}
.xiaolaji-picker-header-label {
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.1s;
}
.xiaolaji-picker-header-label:hover {
  background-color: var(--color-fill-3);
}
.xiaolaji-picker-body {
  padding: 14px 16px;
}
.xiaolaji-picker-week-list {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 16px 0 16px;
}
.xiaolaji-picker-week-list-item {
  flex: 1;
  height: 32px;
  padding: 0;
  color: #7d7d7f;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.xiaolaji-picker-row {
  display: flex;
  padding: 2px 0;
}
.xiaolaji-picker-cell {
  flex: 1;
}
.xiaolaji-picker-cell .xiaolaji-picker-date {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 4px 0;
  cursor: pointer;
}
.xiaolaji-picker-date-value {
  min-width: 24px;
  height: 24px;
  color: var(--color-text-4);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border-radius: var(--border-radius-circle);
  cursor: pointer;
}
.xiaolaji-picker-cell-in-view .xiaolaji-picker-date-value {
  color: var(--color-text-1);
  font-weight: 500;
}
.xiaolaji-picker-cell-selected .xiaolaji-picker-date-value {
  color: var(--color-white);
  background-color: rgb(var(--primary-6));
  transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
}
.xiaolaji-picker-cell-in-view:not(.xiaolaji-picker-cell-selected):not(.xiaolaji-picker-cell-range-start):not(.xiaolaji-picker-cell-range-end):not(.xiaolaji-picker-cell-disabled):not(.xiaolaji-picker-cell-week) .xiaolaji-picker-date-value:hover {
  color: var(--color-text-1);
  background-color: var(--color-fill-3);
}
.xiaolaji-picker-cell-today {
  position: relative;
}
.xiaolaji-picker-cell-today::after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  display: block;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  background-color: rgb(var(--primary-6));
  border-radius: 50%;
  content: '';
}
.xiaolaji-picker-cell-in-range .xiaolaji-picker-date {
  background-color: var(--color-primary-light-1);
}
.xiaolaji-picker-cell-range-start .xiaolaji-picker-date {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.xiaolaji-picker-cell-range-end .xiaolaji-picker-date {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.xiaolaji-picker-cell-in-range-near-hover .xiaolaji-picker-date {
  border-radius: 0;
}
.xiaolaji-picker-cell-range-start .xiaolaji-picker-date-value,
.xiaolaji-picker-cell-range-end .xiaolaji-picker-date-value {
  color: var(--color-white);
  background-color: rgb(var(--primary-6));
  border-radius: var(--border-radius-circle);
}
.xiaolaji-picker-cell-hover-in-range .xiaolaji-picker-date {
  background-color: var(--color-primary-light-1);
}
.xiaolaji-picker-cell-hover-range-start .xiaolaji-picker-date {
  border-radius: 24px 0 0 24px;
}
.xiaolaji-picker-cell-hover-range-end .xiaolaji-picker-date {
  border-radius: 0 24px 24px 0;
}
.xiaolaji-picker-cell-hover-range-start .xiaolaji-picker-date-value,
.xiaolaji-picker-cell-hover-range-end .xiaolaji-picker-date-value {
  color: var(--color-text-1);
  background-color: var(--color-primary-light-2);
  border-radius: 50%;
}
.xiaolaji-picker-cell-disabled .xiaolaji-picker-date {
  background-color: var(--color-fill-1);
  cursor: not-allowed;
}
.xiaolaji-picker-cell-disabled .xiaolaji-picker-date-value {
  color: var(--color-text-4);
  background-color: transparent;
  cursor: not-allowed;
}
.xiaolaji-picker-footer {
  width: min-content;
  min-width: 100%;
}
.xiaolaji-picker-footer-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3px 8px;
  border-top: 1px solid var(--color-neutral-3);
}
.xiaolaji-picker-footer-btn-wrapper :only-child {
  margin-left: auto;
}
.xiaolaji-picker-footer-extra-wrapper {
  box-sizing: border-box;
  padding: 8px 24px;
  color: var(--color-text-1);
  font-size: 12px;
  border-top: 1px solid var(--color-neutral-3);
}
.xiaolaji-picker-footer-now-wrapper {
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-top: 1px solid var(--color-neutral-3);
}
.xiaolaji-picker-btn-confirm {
  margin: 5px 0;
}
.xiaolaji-picker-shortcuts {
  flex: 1;
}
.xiaolaji-picker-shortcuts > * {
  margin: 5px 10px 5px 0;
}
.xiaolaji-panel-date {
  display: flex;
  box-sizing: border-box;
}
.xiaolaji-panel-date-inner {
  width: 265px;
}
.xiaolaji-panel-date-inner .xiaolaji-picker-body {
  padding-top: 0;
}
.xiaolaji-panel-date-timepicker {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-neutral-3);
}
.xiaolaji-panel-date-timepicker-title {
  width: 100%;
  height: 40px;
  color: var(--color-text-1);
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid var(--color-neutral-3);
}
.xiaolaji-panel-date-timepicker .xiaolaji-timepicker {
  height: 276px;
  padding: 0 6px;
  overflow: hidden;
}
.xiaolaji-panel-date-timepicker .xiaolaji-timepicker-column {
  box-sizing: border-box;
  width: auto;
  height: 100%;
  padding: 0 4px;
}
.xiaolaji-panel-date-timepicker .xiaolaji-timepicker-column::-webkit-scrollbar {
  width: 0;
}
.xiaolaji-panel-date-timepicker .xiaolaji-timepicker-column:not(:last-child) {
  border-right: 0;
}
.xiaolaji-panel-date-timepicker .xiaolaji-timepicker ul::after {
  height: 244px;
}
.xiaolaji-panel-date-timepicker .xiaolaji-timepicker-cell {
  width: 36px;
}
.xiaolaji-panel-date-timepicker .xiaolaji-timepicker-cell-inner {
  padding-left: 10px;
}
.xiaolaji-panel-date-footer {
  border-right: 1px solid var(--color-neutral-3);
}
.xiaolaji-panel-date-with-view-tabs {
  flex-direction: column;
  min-width: 265px;
}
.xiaolaji-panel-date-with-view-tabs .xiaolaji-panel-date-timepicker .xiaolaji-timepicker-column {
  flex: 1;
}
.xiaolaji-panel-date-with-view-tabs .xiaolaji-panel-date-timepicker .xiaolaji-timepicker-column::-webkit-scrollbar {
  width: 0;
}
.xiaolaji-panel-date-with-view-tabs .xiaolaji-panel-date-timepicker .xiaolaji-timepicker-cell {
  width: 100%;
  text-align: center;
}
.xiaolaji-panel-date-with-view-tabs .xiaolaji-panel-date-timepicker .xiaolaji-timepicker-cell-inner {
  padding-left: 0;
}
.xiaolaji-panel-date-view-tabs {
  display: flex;
  border-top: 1px solid var(--color-neutral-3);
}
.xiaolaji-panel-date-view-tab-pane {
  flex: 1;
  height: 50px;
  color: var(--color-text-4);
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid var(--color-neutral-3);
  cursor: pointer;
}
.xiaolaji-panel-date-view-tab-pane:last-child {
  border-right: none;
}
.xiaolaji-panel-date-view-tab-pane-text {
  margin-left: 8px;
}
.xiaolaji-panel-date-view-tab-pane-active {
  color: var(--color-text-1);
}
.xiaolaji-panel-month,
.xiaolaji-panel-quarter,
.xiaolaji-panel-year {
  box-sizing: border-box;
  width: 265px;
}
.xiaolaji-panel-month .xiaolaji-picker-date,
.xiaolaji-panel-quarter .xiaolaji-picker-date,
.xiaolaji-panel-year .xiaolaji-picker-date {
  padding: 4px;
}
.xiaolaji-panel-month .xiaolaji-picker-date-value,
.xiaolaji-panel-quarter .xiaolaji-picker-date-value,
.xiaolaji-panel-year .xiaolaji-picker-date-value {
  width: 100%;
  border-radius: 24px;
}
.xiaolaji-panel-month .xiaolaji-picker-cell:not(.xiaolaji-picker-cell-selected):not(.xiaolaji-picker-cell-range-start):not(.xiaolaji-picker-cell-range-end):not(.xiaolaji-picker-cell-disabled):not(.xiaolaji-picker-cell-week) .xiaolaji-picker-date-value:hover,
.xiaolaji-panel-quarter .xiaolaji-picker-cell:not(.xiaolaji-picker-cell-selected):not(.xiaolaji-picker-cell-range-start):not(.xiaolaji-picker-cell-range-end):not(.xiaolaji-picker-cell-disabled):not(.xiaolaji-picker-cell-week) .xiaolaji-picker-date-value:hover,
.xiaolaji-panel-year .xiaolaji-picker-cell:not(.xiaolaji-picker-cell-selected):not(.xiaolaji-picker-cell-range-start):not(.xiaolaji-picker-cell-range-end):not(.xiaolaji-picker-cell-disabled):not(.xiaolaji-picker-cell-week) .xiaolaji-picker-date-value:hover {
  border-radius: 24px;
}
.xiaolaji-panel-year {
  box-sizing: border-box;
  width: 265px;
}
.xiaolaji-panel-week {
  box-sizing: border-box;
}
.xiaolaji-panel-week-wrapper {
  display: flex;
}
.xiaolaji-panel-week-inner {
  width: 298px;
}
.xiaolaji-panel-week-inner .xiaolaji-picker-body {
  padding-top: 0;
}
.xiaolaji-panel-week .xiaolaji-picker-row-week {
  cursor: pointer;
}
.xiaolaji-panel-week .xiaolaji-picker-row-week .xiaolaji-picker-date-value {
  width: 100%;
  border-radius: 0;
}
.xiaolaji-panel-week .xiaolaji-picker-cell .xiaolaji-picker-date {
  border-radius: 0;
}
.xiaolaji-panel-week .xiaolaji-picker-cell:nth-child(2) .xiaolaji-picker-date {
  padding-left: 4px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.xiaolaji-panel-week .xiaolaji-picker-cell:nth-child(2) .xiaolaji-picker-date .xiaolaji-picker-date-value {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.xiaolaji-panel-week .xiaolaji-picker-cell:nth-child(8) .xiaolaji-picker-date {
  padding-right: 4px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.xiaolaji-panel-week .xiaolaji-picker-cell:nth-child(8) .xiaolaji-picker-date .xiaolaji-picker-date-value {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.xiaolaji-panel-week .xiaolaji-picker-row-week:hover .xiaolaji-picker-cell:not(.xiaolaji-picker-cell-week):not(.xiaolaji-picker-cell-selected):not(.xiaolaji-picker-cell-range-start):not(.xiaolaji-picker-cell-range-end) .xiaolaji-picker-date-value {
  background-color: var(--color-fill-3);
}
.xiaolaji-panel-quarter {
  box-sizing: border-box;
  width: 265px;
}
.xiaolaji-picker-range-wrapper {
  display: flex;
}
.xiaolaji-datepicker-shortcuts-wrapper {
  box-sizing: border-box;
  width: 106px;
  height: 100%;
  max-height: 300px;
  margin: 10px 0 0 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}
.xiaolaji-datepicker-shortcuts-wrapper > li {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 16px;
  cursor: pointer;
}
.xiaolaji-datepicker-shortcuts-wrapper > li:hover {
  color: rgb(var(--primary-6));
}
